# Игнорировать файл с конфиденциальными данными
.env

# Игнорировать временные файлы и кэш Python
__pycache__/
*.pyc
*.pyo

# Игнорировать файлы виртуального окружения
venv/
env/
.venv/

# Игнорировать файлы журналов
*.log
